{{ $data := newScratch }}
{{ $data.Set "inner" .Inner }}
{{ $names := findRE "\\[\\[([^ ]*)\\]\\]" .Inner }}
{{ range $names }}
    {{ $obsidianInternalLink := replace (replace . "[[" "") "]]" "" }}
    {{ if (gt (len $obsidianInternalLink) 0) }}
        {{ $parts := split $obsidianInternalLink "#" }}
        {{ $file := printf "%s.md" (index $parts 0) }}
        {{ $heading := cond (eq (len $parts) 2) (printf "#%s" (index $parts 1)) "" }}
        {{ $permalink := relref $.Page (printf "%s%s" $file $heading) }}
        {{ $markdownLink := printf "[%s](%s)" $obsidianInternalLink $permalink }}
        {{ $data.Set "inner" (replace ($data.Get "inner") . $markdownLink) }}
    {{ end }}
{{ end }}
{{ $data.Get "inner" }}
